<div class="container-fluid">
  <div class="navbar navbar-default">

    <div class="navbar-header">

      <div class="navbar-brand">
	MY AWESOME SITE
      </div>

      <button class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>

    </div> <!-- navbar-header -->


    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
	<li>
	  <a href="#">
	    <span class="glyphicon glyphicon-home"></span> Home
	  </a>
	</li>
	
	<li class="dropdown">
	  <a href="#" data-toggle="dropdown">
	    <span class="glyphicon glyphicon-user"></span> My Account
	    <span class="caret"></span>
	  </a>

	  <ul class="dropdown-menu">
	    <li><a href="#">My profil</a></li>
	    <li><a href="#">My friends</a></li>
	    <li><a href="#">My pictures</a></li>
	    <li class="divider"></li>
	    <li>
	      <a href="#">
		<span class="glyphicon glyphicon-wrench"></span> Settings
	      </a>
	    </li>
	  </ul> <!-- dropdown-menu -->
	  
	</li> <!-- dropdown -->

	<li>
	  <a href="#">
	    <span class="glyphicon glyphicon-inbox"></span> My messages 
	  </a>
	</li>

      </ul> <!-- nav navbar-nav -->

      <ul class="nav navbar-nav navbar-right">
	<li>
	  <a href="#">
	    <span class="glyphicon glyphicon-log-out"></span> Log out
	  </a>
	</li>
      </ul> <!-- nav-navbar right-->      
      
    </div> <!-- navbar navbar-default -->

  </div> <!-- myNavbar -->
  
</div> <!-- container-fluid -->


<div class="container">
  
  <div class="jumbotron">
    <h2>Welcome to Ember.js With bootstrap <small>TEMPLATE</small></h2>

  </div> <!-- jumbotron -->

  <div class="row">
    <div class="col-md-6">
      <h2> First article <small>Lorem ipsum</small></h2>
      <p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
      </p>
    </div> <!-- col-md-6 -->
    
    <div class="col-md-6">
      <h2> Second article <small>Vivamus fermentum</small></h2>
      <p>
	Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.
      </p>
    </div> <!-- col-md-6 -->

  </div> <!-- row -->


  <div class="row">
    <div class="col-md-12">
      <h2> Last article <small>Suspendisse lectus</small></h2>
      <p>
	Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est. Ut augue nunc, sodales ut euismod non, adipiscing vitae orci. Mauris ut placerat justo. Mauris in ultricies enim. Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna.
      </p>
    </div> <!-- col-md-12 -->

  </div> <!-- row -->
  
  <div class="text-center">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul> <!-- pagination -->
  </div> <!-- text-center -->

  
</div> <!-- container -->



{{outlet}}
